# {{project-name | title_case}}

This project was generated using the [Pyri New Jam](https://github.com/benfrankel/pyri_new_jam) template.
Check out the [documentation](https://github.com/benfrankel/pyri_new_jam/blob/main/README.md) to get started!
