(
    window: WindowConfig(
        title: "bevy_jam_template",
        window_mode: Windowed,
        present_mode: AutoVsync,
    ),

    theme: ThemeConfig(
        palette: Palette((
            Rgba(red: 0.157, green: 0.157, blue: 0.157, alpha: 1.0),
            Rgba(red: 0.925, green: 0.925, blue: 0.925, alpha: 1.0),
        )),
    ),
)